.btn_group{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 5.2rem;
    position: relative;

    &_1 {
        padding: .2rem .9rem;
        background-color: rgb(64, 207, 36);
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    &_2 {
        padding: .2rem .4rem;
        background-color: rgb(64, 207, 36);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-left: -.4rem;
        .down {
            font-size: 1.1rem;
        }
    }

    .add {
        display: none;
        transform: translate(6rem,1.7rem); 
    }

    .dropdown_menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        transform: translate(6rem,1.7rem); 
        background-color: blue;
        border-radius: 5px;
        transition: all .5s linear 1s;

        a{
            color: red;
            text-decoration: none;
            padding-left: .5rem;

            &:hover{
                background-color: #000;
                transition: all .3s linear;
            }
        }
    }
}